header.header

	button.header__burger.btn.js-burger(type="button")
		span
		span
		span

	nav.header__menu
		.header__list
			each object, key in data.header.menu
				a.header__link.js-to-anchor(
					href=object.url
					data-link=key
				)
					!= object.name
			img.header__list-sandglass(src="../images/sandglass.png" alt="Sandglass")
